body{
	font-family: Microsoft JhengHei;
    background-color: #e0e0e0;
    max-width: 430px;
    margin: 0 auto;
    color: #262626;
}

p{
    margin: 5px 0;
}

a{
	text-decoration: initial;
    color: inherit;
    font-size: inherit;
}

a:visited{
	color: black;
}

body textarea {
    font-size: 18px;
    line-height: 24px;
    background-color: #fafafa;
    border: 0;
    padding: 4px 5px 3px 5px;
    font-family: Microsoft JhengHei;
    outline-width: 0px;
}

body button{
    border: 0.5px #6a6a6a dotted;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    height: 27px;
    padding: 4px 10px 4px 10px;
    background-color: #f5f5f5;
    transition: 0.1s;
}

body button:hover{
    box-shadow: #38373759 0px 0px 7px 0px;
    transition: 0.1s;
}

input{
    font-size: 15px;
    line-height: 18px;
    background-color: #fafafa;
    border: 0px;
    padding: 4px 10px 4px 10px;
    outline-width: 0px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

table td{
    border: 1px solid black;
    padding: 3px 5px;
}

#art-box{
}

.cont-box{
    padding-left: 15px;
}

.art{
    background-color: #fafafa;
    padding: 12px 8px 0 8px;
}

.art + .art{
    margin-top: 10px
}

.cont{
    padding: 0 3px;
}

.cont + .cont:before, .cont-box:before{
    display: block;
    width: 100%;
    height: 8px;
    margin-bottom: 7px;
    content: "";
    border-bottom: 0.5px solid #8e8e8e;
}

.bar{
    display: flex;
    align-items: center;
    padding: 2px 0px 4px 0px;
}

.bar-head{
    flex: 0 1 auto;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.title{
    font-size: 20px;
    font-weight: 600;
    white-space: pre-wrap;
    word-break: break-all;
}

.word{
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    font-family: Microsoft JhengHei;
}

.word pre, .word a, .word span{
    font-size: 16px;
    line-height: 24px;
    font-family: Microsoft JhengHei;
    white-space: pre-wrap;
    word-break: break-all;
    display: inline;
}

.word a{
    text-decoration: underline;
    color: #0f00ee;
}

.word .bx{
    text-decoration: underline;
    color: #0f00ee;
}

.info{
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #8e8e8e;
}

.likes{
}

.likes-out{
}

.likes-in{
    flex: 0 1 auto;
    font-size: 13px;
    color: #8e8e8e;
    min-width: 8px;
    text-align: right;
}

.likes-icon{
    width: 12px;
    height: 12px;
    padding: 5px 6px 4px 0px;
    filter: invert(61%) sepia(2%) saturate(184%) hue-rotate(19deg) brightness(93%) contrast(77%);
}

.del{
    flex: 0 1 auto;
    font-size: 13px;
    color: #545454;
    padding-left: 10px;
    font-weight: normal;
}

.cont[is-user-like = "true"] .likes-icon{
    filter: invert(15%) sepia(55%) saturate(6826%) hue-rotate(0deg) brightness(103%) contrast(95%);
}

.bar-in{
    display: flex;
    align-items: center;
    padding: 1px 0px;
}

.bar-in-head {
    flex: 0 1 auto;
    width: 18px;
    height: 18px;
    padding: 2px 6px 2px 0px;
}

.author{
    flex: 1 1 auto;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

.move{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #8e8e8e;
    padding: 0px 4px 7px 4px;
}

.open{
    flex: 1 1 auto;
}

.open-bot{
    flex: 0 1 auto;
}

.reply{
    flex: 0 1 auto;
}

.time{
}

.no{
}

.splitter{
    white-space: break-spaces;
}

#top-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #fafafa;
    padding: 20px 9px;
    display: flex;
    align-items: center;
}

#top-box > span:nth-child(1){
    flex: 1 1 auto;
    font-size: 22px;
    font-weight: 600;
}

#top-box img{
    flex: 0 1 auto;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 16px;
}

.reply-box{
    padding: 9px 0;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #8e8e8e;
}

.reply-open{
    bottom: 60vh;
}

.reply-close{
    bottom: 100vh;
    visibility: hidden;
    overflow: hidden;
}

.reply-textarea{
    margin: 9px 0;
    display: block;
    flex: 1 1 auto;
    height: 180px;
}

.reply-summit{
    text-align: right;
    font-size: 14px;
    color: #262626;
}

.reply-info{
    font-size: 13px;
    color: #262626;
}

#new-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    padding: 9px 9px 13px 9px;
    color: #262626;
}

.new-open{
    bottom: 0;
}

.new-close{
    bottom: 100vh;
    visibility: hidden;
    overflow: hidden;
}

#new-title{
    margin: 16px 0 8px 0;
    flex: 0 1 auto;
    font-size: 24px;
    font-weight: 600;
}

#new-textarea{
    margin: 10px 0 30px 0;
    flex: 1 1 auto;
}

#new-box p{
    text-align: right;
    font-size: 16px;
    color: #8e8e8e;
    flex: 0 1 auto;
    margin: 10px 0;
}

#new-bar{
    display: flex;
    align-items: center;
    padding: 5px 5px 15px 5px;
    font-size: 18px;
    font-weight: 600;
}

#new-bar > img{
    flex: 0 1 auto;
    width: 24px;
    height: 24px;
}

#new-bar > span:nth-child(2){
    flex: 1 1 auto;
    text-align: center;
}

#new-bar > span:nth-child(3){
    flex: 0 1 auto;
}

#console-box{
    position: fixed;
    left: 0;
    right: 0;
    background-color: #8e8e8e;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    padding: 30px;
    text-align: center;
}

.console-open{
    top: 10vh;
}

.console-close{
    top: -50vh;
    visibility: hidden;
    overflow: hidden;
}

#footer{
    height: 40vh;
}

.disable{
    display: none;
}