<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>LEAF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{~/pic/favicon.png}" type="image/x-icon">
    <link rel="icon" th:href="@{~/pic/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{~/css/hub.css}">
    <script type="text/JavaScript" th:src="@{~/js/main.js}"></script>
    <script type="text/JavaScript" th:src="@{~/js/hub.js}"></script>
    <script type="text/JavaScript" th:src="@{~/js/jquery-3.6.1.min.js}"></script>
</head>
<script th:inline="javascript">
//啟用thymeleaf 內聯
/*<![CDATA[*/
    const ICON_USER = /*[[@{~/pic/user.png}]]*/ "";
    const ICON_LIKE = /*[[@{~/pic/like.svg}]]*/ "";
    const USER_ID = /*[[${userId}]]*/ "";
/*]]>*/
</script>
<body onload="init();">
<div id="header"></div>
<div id="art-box"></div>
<div id="footer">
</div>

<div id="top-box">
    <span id="top-user">
        <span>匿名</span>
        <span th:if="${userId != null}" th:text="'(' + ${userId} + ')'"></span>
    </span>
    <img th:src="@{~/pic/add.png}" onclick="openNewBox();">
    <img th:src="@{~/pic/option.png}">
</div>


<div id="reply-box" class="reply-close">
    <div class="bar">
        <img class="bar-head" th:src="@{~/pic/user.png}">
        <span class="author">匿名</span>
    </div>
    <p id="reply-info">
        <span id="reply-no"></span>
        <span class="splitter">, </span>
        <span id="reply-time"></span>
    </p>
    <textarea id="reply-textarea"placeholder="留言..."></textarea>
    <p id="reply-summit" onclick="replyPost();">送出</p>
</div>

<div id="new-box" class="new-close">
    <div id="new-bar">
        <img th:src="@{~/pic/close.png}" onclick="closeNewBox();">
        <span>發文</span>
        <span onclick="createPost();">送出</span>
    </div>
    <div class="bar">
        <img class="bar-head" th:src="@{~/pic/user.png}">
        <span class="author">匿名</span>
    </div>
    <input id="new-title" type="text" placeholder="標題">
    <textarea id="new-textarea"placeholder="本版提供匿名發文..."></textarea>
</div>

<div id="console-box" class="console-close">
</div>

</body>
</html>
